<h1 class="text-3xl font-bold mb-6">Articles</h1>
<ul class="space-y-2">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article, class: "text-blue-500 hover:underline" %>
    </li>
  <% end %>
</ul>

<div data-controller="hello">
  <input data-hello-target="name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div>
