<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto text-center">
    <p class="text-sm">
      View the code on 
      <a href="https://github.com/adnjoo/rails" class="text-blue-400 hover:underline">GitHub</a>
    </p>
  </div>
</footer>

