<nav class="bg-white shadow-lg" data-controller="toggle">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      <!-- Logo -->
      <a href="/" class="text-lg font-semibold text-gray-500"><%= app_name %></a>
      <!-- Primary Navbar items -->
      <div class="hidden sm:flex items-center space-x-1">
        <%= render "layouts/navbar_links" %>
      </div>
      <!-- Mobile menu button -->
      <button class="sm:hidden p-2" data-action="click->toggle#toggle">
        <svg class="w-6 h-6 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
  <!-- Mobile menu (hidden by default) -->
  <div class="hidden flex flex-col sm:hidden" data-toggle-target="element">
    <%= render "layouts/navbar_links" %>
  </div>
</nav>
